nav{
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
    background: #2b2bb7;
}
nav ul{
    height: 70px;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
li{
    list-style: none;
    text-decoration: none;
    color: white;
}